extends layout

block content
  h1 Show your IP address
  p #{ip}
  h1 Show your Language
  p #{language}
  h1 Show your Software
  p #{os}
  h1 Show your browser
  p #{browser}
  h1 Version of the browser
  p #{browserVersion}
  
  

  
