extends layout

block content
  h1 Show what ip address you are what
  p #{ip}
  h1 Language is:
  p #{language}
  h1 Software is:
  p #{os}
  h1 Show browser
  p #{browser}
  h1 Version of the browser is:
  p #{browserVersion}
  
  

  
